<%- include('../includes/head.ejs') %>

  <%- include('../includes/navigation.ejs') %>

  <main>

    <div><%= errorMessage %></div>
    <form class="login-form" action="/updatePassword" method="POST">

      <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" />
      </div>

      <input type="hidden"  value="<%= csrfToken %>" name="_csrf"/>
      <input type="hidden" value="<%= userId %>" name="userId"/>
      <input type="hidden" value="<%= passwordToken %>" name="passwordToken">

      <button type="submit">Update Password</button>

    </form>

  </main>

<%- include('../includes/end.ejs') %>
