<%- include('../includes/head.ejs') %>

  <%- include('../includes/navigation.ejs') %>

  <main>

    <div><%= errorMessage %></div>
    <form class="login-form" action="/reset" method="POST">

      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>

      <button type="submit">Reset</button>
      <input type="hidden" value="<%= csrfToken %>" name="_csrf"/>
    </form>

  </main>

<%- include('../includes/end.ejs') %>
